@use "../../../styles/prompts.scss";

.header {
    @include prompts.mobileHeaderText;
}

.headerContainer {
    display: flex;
    justify-content: end;
}

.sliderButtons {
    display: flex;
}

.nameContainer {
    display: flex;
    align-items: center;
}
