@use "../../../styles/prompts.scss";

.reviews {
    margin-top: 50px;
}

.header {
    @include prompts.mobileHeaderText;
}

.headerContainer {
    display: flex;
    justify-content: end;
}

.sliderButtons {
    display: flex;
    align-items: end;
    gap: 16px;
}

.buttonLeft {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/arrows/arrow-left.svg");
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    scale: 1.7;
}

.buttonRight {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/arrows/arrow-right.svg");
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    scale: 1.7;
}

.reviewsList {
    margin-top: 24px;
}

.card {
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rate {
    display: flex;
    align-items: center;
    gap: 6px;
}

.starIcon {
    width: 20px;
}

.nameContainer {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.name {
    font-weight: 700;
    line-height: 22px;
}

.certified {
    margin-left: 4px;
}

.reviewText {
    @include prompts.mobileCommonText;
    margin-top: 10px;
    line-height: 20px;
}
