@use "../../styles/prompts.scss";

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f0f1;
    z-index: 2;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50%;
}

.item {
    padding: 20px 0;
    width: 100%;
    font-size: prompts.$mobile-caption;
    border-top: 2px solid black;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.item:nth-child(2n) {
    border-bottom: 2px solid black;
}

.active {
    background-color: black;
    color: white;
    // border-color: white;
}
