@use "./../../../styles/prompts.scss";

.header {
    background-color: #fff;
}

.nav {
    // color: prompts.$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 0;

    svg {
        path {
            transition: fill 0.3s ease;
        }
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchContainer {
    position: relative;
}

.burgerContainer {
    height: 18px;
}

.logo {
    color: #000;
    // leading-trim: both;
    // text-edge: cap;
    // font-family: Integral CF;
    font-size: 25.2px;
    font-weight: 700;
}

.iconActive {
    svg {
        path {
            fill: #ff7100;
        }
    }
}
