@use "../../../styles/prompts.scss";

.goods {
    margin-top: 50px;
}

.newArrivals {
    margin-bottom: 40px;
}

.arrivalsSlider,
.sellingSlider {
    margin-top: 32px;
}

.arrivalsButton,
.sellingButton {
    display: block;
    margin-top: 24px;
    padding: prompts.$mobile-button-padding;
    width: 100%;
    border: 1px solid #0000001a;
    border-radius: prompts.$border-radius;
    background-color: #fff;
    font-weight: 500;
    font-size: prompts.$mobile-text;
}

.topSelling {
    margin-top: 40px;
}

.header {
    @include prompts.mobileHeaderText;
    text-align: center;
}
